title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl 6 Advent Calendar

1-24:L<Perl 6 Advent|https://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head2 Qiita: Perl 6

L<Qiita Perl 6 Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/perl6>

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.pm.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl Dancer Advent Calendar

L<Dancer Advent|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 C::Blocks Advent Calendar

L<C::BLOCKS Advent Calendar|http://blogs.perl.org/users/david_mertens/<TMPL_VAR NAME=YEAR>/12/cblocks-advent-day-<TMPL_VAR NAME=DAY>.html>

=head2 Perlancar's Getopt Module <TMPL_VAR NAME=YEAR> Advent

1-24:L<Getopt Module Advent|https://perlancar.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/getopt-modules-<TMPL_VAR NAME=DAY02>/>

=head2 Qiita: Perl 5

L<Qiita Perl 5 Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/perl5>

=head2 Seoul.pm Advent Calendar

1-24:L<Seoul.pm Advent|http://advent.perl.kr/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head1 PHP

=head2 Cake Advent

L<Cake Advent|http://josediazgonzalez.com/tags/cakeadvent-<TMPL_VAR NAME=YEAR>/>/

=head1 Go

=head2 Gopher Academy

L<Go Advent|http://blog.gopheracademy.com/series/advent-<TMPL_VAR NAME=YEAR>/>

=head1 Ruby

=head2 Qiita: Ruby

L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby>

=head2 Ruby Korea

L<Advent Calendar for Ruby Korea|https://ruby-korea.github.io/advent-calendar/>

=head1 Python

=head2 Qiita: Python

L<Qiita Python Advent Calendar|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/python>

#=head2 Qiita: Rails
#
#L<Qiita Rails Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/rails>

#=head1 Java
#
#=head2 Java Advent
#
#L<Java Advent:|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>>

#=head1 F#
#
#=head2 Japanese F# Advent
#
#L<Japanese F# Advent:|http://connpass.com/event/9758/>

#=head2 English Language F# Advent
#
#L<English Language F# Advent:|http://sergeytihon.wordpress.com/<TMPL_VAR NAME=YEAR>/10/25/f-advent-calendar-in-english-<TMPL_VAR NAME=YEAR>/>

=head1 Miscellaneous

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>

=head2 QEMU Advent Calendar 

L<QEMU Advent Calendar|http://www.qemu-advent-calendar.org/<TMPL_VAR NAME=YEAR>/> - An amazing QEMU disk image every day.

=head2 The Economist

L<Daily chart advent calendar|http://www.economist.com/content/<TMPL_VAR NAME=YEAR>-daily-chart-advent-calendar>

#=head1 Interesting Things
#
#=head2 Hubble Space Telescope Advent
#
#L<Hubble Space Telescope Advent|http://www.theatlantic.com/photo/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>>
#
#=head2 Plus Magazine (Math)
#
#L<Plus Magazine Advent|http://plus.maths.org/content/plus-advent-calendar-<TMPL_VAR NAME=YEAR>>

#=head2 WEBKRAUTS

#L<WEBKRAUTS|http://webkrauts.de/serien/adventskalender/<TMPL_VAR NAME=YEAR>>

=cut
