title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl Weekly Challenge

1-24:L<Perl Weekly Challenge|https://theweeklychallenge.org/blog/advent-calendar-<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>/>

=head2 Qiita Perl Advent Calendar

L<Qiita Perl Advent|https://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/perl>

=head1 Raku

=head2 Raku Advent Calendar

L<Raku Advent|https://raku-advent.blog/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 Java

=head2 JVM Advent

L<JVM Advent|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/>>

=head1 HTML and CSS

=head2 HTML

L<HTML Hell|https://www.htmhell.dev/adventcalendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head2 CSS

L<CSS Advent Calendar|https://cssadventcalendar.dev/>

=head1 JavaScript

=head2 AdventJS

L<AdventJS|https://adventjs.dev/challenges/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head1 Miscellaneous

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>

=head2 Steam Games Advent Calendar

L<Steam|https://store.steampowered.com/app/3707810/Winter_Games_Collection__Advent_Calendar/>

=head2 C#

L<C#|https://www.csadvent.christmas/>

=head2 Festive Tech Calendar

L<Festive Tech Calendar|https://festivetechcalendar.com/>

=head2 24 Pull Requests

L<24 Pull Requests|https://24pullrequests.com/>

=head2 Space Telescope Advent Calendar (The Atlantic)

L<Space Telescope Advent Calendar (The Atlantic)|https://www.theatlantic.com/photography/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-space-telescope-advent-calendar/685096/>

=cut
