title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl Weekly Challenge

1-24:L<Perl Weekly Challenge|https://theweeklychallenge.org/blog/advent-calendar-<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>/>

=head2 Qiita Perl Advent Calendar

L<Qiita Perl Advent|https://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/perl>

=head1 Raku

=head2 Raku Advent Calendar

L<Raku Advent|https://raku-advent.blog/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 HTML

L<HTML Hell|https://www.htmhell.dev/adventcalendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head1 CSS

L<CSS Advent Calendar|https://cssadventcalendar.dev/>

=head1 JavaScript

L<AdventJS|https://adventjs.dev/challenges/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head1 PHP

L<Laravel|https://laravel.com/advent/>

=head1 Java

L<JVM Advent|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/>>

=head1 C#

L<C#|https://www.csadvent.christmas/>

=head1 F#

L<F# Advent|https://sergeytihon.com/2025/11/03/f-advent-calendar-in-english-2025/>

=head1 Miscellaneous

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>

=head2 Steam Games Advent Calendar

L<Steam|https://store.steampowered.com/app/3707810/Winter_Games_Collection__Advent_Calendar/>

=head2 Festive Tech Calendar

L<Festive Tech Calendar|https://festivetechcalendar.com/>

=head2 24 Pull Requests

L<24 Pull Requests|https://24pullrequests.com/>

=head2 Space Telescope Advent Calendar (The Atlantic)

L<Space Telescope Advent Calendar (The Atlantic)|https://www.theatlantic.com/photography/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-space-telescope-advent-calendar/685096/>

=head2 SANS Holiday Hack Challenge

L<SANS Holiday Hack Challenge™ 2025|https://www.sans.org/cyber-ranges/holiday-hack-challenge>

=head2 Debug December

L<Debug December|https://www.debugdecember.com/challenges/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY02>>

#=head2 Advent(ure) in System Seeing
#
#L<Advent(ure) in System Seeing|https://www.ruthmalan.com/Advent/<TMPL_VAR NAME=YEAR>/Day<TMPL_VAR NAME=DAY>.html>

=head2 Advent of Craft

L<Advent Of Craft|https://www.github.com/advent-of-craft/<TMPL_VAR NAME=YEAR>/tree/main/challenges/day<TMPL_VAR NAME=DAY02>>

=cut
