title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic: Perl Advent Planet

=head1 Perl

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

L<JPerl|http://perl-users.jp/articles/advent-calendar/2008/<TMPL_VAR NAME=DAY02>.html>

=head1 PHP

Changed its name to WebAdvent in 2012
L<PHPadvent|http://www.phpadvent.org/<TMPL_VAR NAME=YEAR>>

=head1 SysAdvent
 
Advent Calendar for System Administrators home page:  L<SysAdvent|http://sysadvent.blogspot.com/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY02>>

=head1 Hubble Telescope

L<Hubble Space Telescope|http://www.boston.com/bigpicture/<TMPL_VAR NAME=YEAR>/12/hubble_space_telescope_advent.html>

