title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@jaffesystems.com>
topic: Advent Planet

=head1 Perl

=head2 Perl Advent

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Catalyst Advent

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 Dancer Advent

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 Seoul.pm Perl Advent Calendar <TMPL_VAR NAME=YEAR>

L<Seoul.pm|http://advent.perl.kr/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl 6  Advent

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 Go

=head1 Gopher Academy

L<Go Advent|http://blog.gopheracademy.com/series/advent-<TMPL_VAR NAME=YEAR>/> 

=head1 Ruby

=head2 Qiita: Ruby

L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby>

=head1 Java

=head2 Java

L<Java Advent:|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/> - uses slugs, not numbers so I've linked to the home page

=head1 Miscellaneous

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators - uses slugs, not numbers so I've linked to the home page

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>  - uses slugs, not numbers so I've linked to the home page

=head2 Performance Calendar

L<Performance Planet|http://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head1 Interesting Things

=head2 Quite Interesting

L<The QI Advent Calendar|http://www.qi.com/advent-day-<TMPL_VAR NAME=DAY>>

=head2 Hubble Space Telescope Advent

L<Hubble Space Telescope Advent|http://www.theatlantic.com/infocus/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-hubble-space-telescope-advent-calendar/100863>

=head2 Plus Magazine (Math)

L<Plus Magazine Advent|http://plus.maths.org/content/<TMPL_VAR NAME=YEAR>-plus-advent-calendar> 

=head2 Science Advent

L<Galileo's Pendulum Science Advent|http://galileospendulum.org/tag/advent-<TMPL_VAR NAME=YEAR>/>

=head2 Sims Lots

L<The Lot Bucket|http://thelotbucket.blogspot.com/search/label/Advent%20Calendar%20<TMPL_VAR NAME=YEAR> - stuff for your sims

