title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@jaffesystems.com>
topic: Advent Planet

=head1 Perl

=head2 Perl Advent

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Catalyst Advent

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 Dancer Advent

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 OX

L<OX|http://iinteractive.github.com/OX/advent/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl 6  Advent

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head2 Seoul.pm Perl Advent Calendar <TMPL_VAR NAME=YEAR>

L<Seoul.pm|http://advent.perl.kr/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head1 Ruby

=head2 12 Gems of Christmas

1-12:L<12 Gems of Christmas|http://www.mikeperham.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head2 Qiita: Ruby

L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby>

=head1 Java

=head2 Java

L<Java Advent:|http://www.javaadvent.com> - uses slugs, not numbers so I've linked to the home page

=head1 Miscellaneous

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators - uses slugs, not numbers so I've linked to the home page

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>  - uses slugs, not numbers so I've linked to the home page
