title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

L<RJBS Hanukkah 2011|http://hanukkah.rjbs.manxome.org/2011/2011-12-<TMPL_VAR NAME=DAY02>.html>

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY>/>

=head2 Perl Advent Calendar Japan:

L<acme|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/acme/<TMPL_VAR NAME=DAY>>

L<casual|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/casual/<TMPL_VAR NAME=DAY>>

L<teng|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/teng/<TMPL_VAR NAME=DAY>>

L<dbix|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/dbix/<TMPL_VAR NAME=DAY>>

L<anysan|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/anysan/<TMPL_VAR NAME=DAY>>

L<hacker|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/hacker/<TMPL_VAR NAME=DAY>>

L<test|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/test/<TMPL_VAR NAME=DAY>>

L<amon2|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/amon2/<TMPL_VAR NAME=DAY>>

L<english|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/english/<TMPL_VAR NAME=DAY>>

=head1 Python

L<Ball Pythons|http://www.worldofballpythons.com/christmas/<TMPL_VAR NAME=DAY>/>

=head1 PHP

The PHP advent uses slugged titles for their URIs, so we can't access them by day of month like everybody else.
You can find the PHP Advent Calendar at L<PHP Advent|http://phpadvent.org/<TMPL_VAR NAME=YEAR>>

=head1 SysAdvent
 
L<SysAdvent|http://sysadvent.blogspot.com> - Advent Calendar for System Administrators 

=head2 Performance Calendar

L<Performance Planet|http://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 WEBKRAUTS

L<WEBKRAUTS|http://webkrauts.de/serien/adventskalender/<TMPL_VAR NAME=YEAR>>

=head1 Interesting Things

=head2 Hubble Space Telescope Advent

L<Hubble Space Telescope Advent|http://www.theatlantic.com/infocus/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-hubble-space-telescope-advent-calendar/100863>

=head2 Plus Magazine (Math)

L<Plus Magazine Advent|http://plus.maths.org/content/<TMPL_VAR NAME=YEAR>-plus-advent-calendar> 

=head2 Science Advent

L<Galileo's Pendulum Science Advent|http://galileospendulum.org/tag/advent-<TMPL_VAR NAME=YEAR>/>

