
title      = <TMPL_VAR NAME=YEAR> Advent Calendar of Perl Advent Calendars

year       = <TMPL_VAR NAME=YEAR>

tagline    = Perl Advent Calendar Planet

category   = Perl Advent Calendars

uri        = http://www.theycomewithcheese.com/PerlAdventPlanet/<TMPL_VAR NAME=YEAR>/

tracker_id = UA-1342781-5

editor     = Len Jaffe
 
share_dir   = share

