title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic: Perl Advent Planet

=head1 Perl

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY>/>

L<Ricardo Signes|http://advent.rjbs.manxome.org/<TMPL_VAR NAME=year>/<TMPL_VAR NAME=year>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl Advent Calendar Japan:

L<Perl6|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/perl6/<TMPL_VAR NAME=DAY>>

L<Symbolic Programming|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/sym/<TMPL_VAR NAME=DAY>>

L<Meta Advent Calendar|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/meta_adcal/<TMPL_VAR NAME=DAY>>

L<Win32|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/win32/<TMPL_VAR NAME=DAY>>

L<Acme|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/acme/<TMPL_VAR NAME=DAY>>

L<English|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/english/<TMPL_VAR NAME=DAY>>

L<Casual|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/casual/<TMPL_VAR NAME=DAY>>

L<Hacker|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/hacker/<TMPL_VAR NAME=DAY>>

L<teng|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/teng/<TMPL_VAR NAME=DAY>>

=head1 Entrepreneurship Advent

L<24 Ways to Start|http://www.24waystostart.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 PHP

The PHP advent uses slugged titles for their URIs, so we can't acdcess them by day of month llike everybody else.
You can find the PHP Advent Calendar here
L<PHPadvent|http://www.phpadvent.org/<TMPL_VAR NAME=YEAR>>

=head1 HTML5 Adventure Calendar

The individual days are popups/divs, so you can't get to them but from the main page at L<HTML5|http://www.html5adventure.com>

=head1 SysAdvent
 
Advent Calendar for System Administrators - uses slugs, not numbers - find the home page at L<SysAdvent|http://sysadvent.blogspot.com>

