title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

L<Plack|http://advent.plackperl.org/<TMPL_VAR NAME=YEAR>/12/>

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY>/>

L<Ricardo Signes|http://advent.rjbs.manxome.org/<TMPL_VAR NAME=year>/<TMPL_VAR NAME=year>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl Advent Calendar Japan:

L<Acme|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/acme/<TMPL_VAR NAME=DAY>>

L<Casual|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/casual/<TMPL_VAR NAME=DAY>>

L<English|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/english/<TMPL_VAR NAME=DAY>>

L<Hacker|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/hacker/<TMPL_VAR NAME=DAY>>

L<Meta Adcal|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/meta_adval/<TMPL_VAR NAME=DAY>>

L<Perl6|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/perl6/<TMPL_VAR NAME=DAY>>

L<Sym|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/Sym/<TMPL_VAR NAME=DAY>>

L<Win32|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/win32/<TMPL_VAR NAME=DAY>>

=head2 Seoul.pm Perl Advent Calendar <TMPL_VAR NAME=YEAR>

L<Seoul.pm|http://advent.perl.kr/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head1 PHP

The PHP advent uses slugged titles for their URIs, so we can't access them by day of month like everybody else.
You can find the PHP Advent Calendar here
L<PHPadvent|http://www.phpadvent.org/<TMPL_VAR NAME=YEAR>>

=head1 SysAdvent
 
Advent Calendar for System Administrators - uses slugs, not numbers - find the home page at L<SysAdvent|http://sysadvent.blogspot.com>
 
=head1 Plone (Japan)

L<Plone User Group Japan|http://plone.jp/documentation/advent-calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY02>>

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 WEBKRAUTS

L<WEBKRAUTS|http://webkrauts.de/serien/adventskalender/<TMPL_VAR NAME=YEAR>>

=head1 F#

=head2 Japanese F# Advent

L<Japanese F# Advent:|http://connpass.com/event/10685/>

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>

=cut
