title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@jaffesystems.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl Advent

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Catalyst Advent

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 Dancer Advent

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 OX

L<OX|http://iinteractive.github.com/OX/advent/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl 6  Advent

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY>/>

=head2 Perl Advent Japan:

L<Hacker Track|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/hacker/<TMPL_VAR NAME=DAY>>

L<Casual Track|http://perl-users.jp/articles/advent-calendar/<TMPL_VAR NAME=YEAR>/casual/<TMPL_VAR NAME=DAY>>

=head2 Seoul.pm Perl Advent Calendar <TMPL_VAR NAME=YEAR>

L<Seoul.pm|http://advent.perl.kr/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head1 Ruby

=head2 12 Gems of Christmas

1-12:L<12 Gems of Christmas|http://www.mikeperham.com/> - scroll down to see 
the 12 gems in the list of posts

=head2 Qiita Ruby Advent
L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby>

=head1 Miscellaneous

=head2 Amazon Web Services

L<AWS Advent|http://awsadvent.tumblr.com/archive/<TMPL_VAR NAME=YEAR>/12>

=head2 PHP / WEBadvent

The PHP advent changed its name to
L<WEBadvent|http://webadvent.org/<TMPL_VAR NAME=YEAR>>

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators - uses slugs, not numbers - find the home page at

=head2 Java

L<Java Advent:|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/>

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>

=head2 Performance Calendar

L<Performance Planet|http://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 User Experience

L<UXMAS Advent|http://uxmas.com/<TMPL_VAR NAME=YEAR>>

=head2 WEBKRAUTS

L<WEBKRAUTS|http://webkrauts.de/serien/adventskalender/<TMPL_VAR NAME=YEAR>>

=head2 Mozilla Developer Network

L<MDN Holidays calendar|http://thewebrocks.com/mdncalendar<TMPL_VAR NAME=YEAR>/>

=head2 Online Marketing Advent

L<High Position Tips|https://www.highposition.com/advent/>

=head1 Interesting Things

=head2 Hubble Space Telescope Advent

L<Hubble Space Telescope Advent|http://www.theatlantic.com/infocus/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-hubble-space-telescope-advent-calendar/100863>

=head2 Plus Magazine (Math)

L<Plus Magazine Advent|http://plus.maths.org/content/<TMPL_VAR NAME=YEAR>-plus-advent-calendar> 

=head2 Science Advent

L<Galileo's Pendulum Science Advent|http://galileospendulum.org/tag/advent-<TMPL_VAR NAME=YEAR>/>

=head2 Sims Lots

L<The Lot Bucket|http://thelotbucket.blogspot.com/search/label/Advent%20Calendar%20<TMPL_VAR NAME=YEAR>> - stuff for your sims






