title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl 6 Advent Calendar

L<Perl 6 Advent|https://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.pm.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Mojolicious Advent Calendar

L<Mojolicious Advent|https://mojolicious.io/blog/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>>

=head2 Perl Dancer Advent Calendar

L<Dancer Advent|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head1 PHP

=head2 PHP Security Advent Calendar

L<PHP Security Advent|https://www.ripstech.com/php-security-calendar-<TMPL_VAR NAME=YEAR>/>/

=head1 Go

=head2 Gopher Academy

L<Go Advent|http://blog.gopheracademy.com/series/advent-<TMPL_VAR NAME=YEAR>/>

=head1 Ruby

=head2 PlanetRuby Advent Calendar

L<PlanetRuby Advent <TMPL_VAR NAME=YEAR>|https://planetruby.github.io/calendar/advent<TMPL_VAR NAME=YEAR>/>

=head2 Qiita: Ruby

L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby>

=head2 Qiita: Ruby on Rails

L<Qiita Ruby on Rails Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby_on_rails>

=head1 Java

=head2 JVM Advent

L<JVM Advent:|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>>

=head1 Miscellaneous

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>

#=head1 Interesting Things

=head2 Hubble Space Telescope Advent

L<Hubble Space Telescope Advent|http://www.theatlantic.com/photo/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-telescope-advent-calendar/547232/>

=head2 Plus Magazine (Math)

L<Plus Magazine Advent|https://plus.maths.org/content/plus-advent-calendar-<TMPL_VAR NAME=YEAR>>

=cut
