title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Mojolicious Advent Calendar

L<Mojolicious Advent|https://mojolicious.io/blog/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>>

=head2 Perl Dancer Advent Calendar

13-24:L<Twelve Days of Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 Qiita Perl Advent Calendar

L<Qiita Perl Advent|https://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/perl>

=head1 Raku (Perl 6)

=head2 Raku (Perl 6) Advent Calendar

L<Raku (Perl 6) Advent|https://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head2 Raku (Perl 6) One-Liner Advent Calendar

L<Raku (Perl 6) One-Liner Advent|https://web.archive.org/web/20200925230330/https://andrewshitov.com/category/advent-calendar-2018/>

=head1 PHP

=head2 24 Days in December

L<24 Days in December|https://24daysindecember.net/<TMPL_VAR name=YEAR>/12/>

=head2 PHP Security Advent Calendar

L<PHP Security Advent|https://www.ripstech.com/php-security-calendar-<TMPL_VAR NAME=YEAR>/>/

=head1 Go

=head2 Gopher Academy

L<Go Advent|http://blog.gopheracademy.com/series/advent-<TMPL_VAR NAME=YEAR>/>

=head1 Ruby

=head2 Qiita: Ruby

L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby>

=head2 Qiita: Ruby on Rails

L<Qiita Ruby on Rails Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/rails>

=head1 Java

=head2 JVM Advent

L<JVM Advent:|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>>

=head1 JavaScript

=head2 JavaScript Christmas

L<JavaScript Christmas|https://web.archive.org/web/20190110171800/https://www.javascript.christmas/>

=head1 Amazon Web Services

=head2 AWS Advent

L<AWS Advent:|http://www.awsadvent.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 Miscellaneous

=head2 Data-Driven Advent Calendar

L<Data-Driven Advent Calendar|https://web.archive.org/web/20190110171758/https://elm.christmas/>

=head2 Elm Christmas

L<Elm Christmas|https://web.archive.org/web/20190110171758/https://elm.christmas/>

=head2 24 jours De Web

L<24 Jours De Web|https://24joursdeweb.fr/<TMPL_VAR NAME=YEAR>>

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>

=head2 24 Accessibitly

L<24 Days of digital accessibility gifts during the season of giving and sharing|https://www.24a11y.com/<TMPL_VAR NAME=YEAR>/>

=head2 User Experience

L<UXMAS Advent|http://uxmas.com> - Ironically, due to the blogging engin in use, this site has awful UX.  uxmas.com l;inks to the most current year (2019)
and earlier years' articles are only available via the full article lists. There are no pages for individual years - you cannot link to uxmas/2017, that's 404. shrug

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>

=head2 QEMU Advent Calendar

L<QEMU Advent Calendar|http://www.qemu-advent-calendar.org/<TMPL_VAR NAME=YEAR>/> - An amazing QEMU disk image every day.

#=head1 Interesting Things

=head2 Hubble Space Telescope Advent

L<Hubble Space Telescope Advent|http://www.theatlantic.com/photo/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-telescope-advent-calendar/547232/>

=head2 Plus Magazine (Math)

L<Plus Magazine Advent|https://plus.maths.org/content/plus-advent-calendar-<TMPL_VAR NAME=YEAR>>

=head2 Old English Advent

L<The Dictionary of Old English|https://dictionaryofoldenglish.wordpress.com/advent-calendar/>

=head2 The Griddle: Puzzle Advent

L<The Griddle|https://thegriddle.net/tags/advent<TMPL_VAR NAME=YEAR>>

=head2 Dan's Quiz: Puzzle Advent

L<Puzzlevent|https://danielpeake.com/blog1/puzzlevent/>

=head2 Pico-8 Advent Calendar

L<Pico-8 Advenb Calendar|https://www.lexaloffle.com/bbs/?pid=59497>

=head2 Lean UXmas

L<Lean UXmas|https://<TMPL_VAR NAME=YEAR>.leanuxmas.com/>

=head2 24 Days in Umbraco

L<24 Days in Umbraco|https://archive.24days.in/umbraco-cms<TMPL_VAR name=YEAR>/>

=head2 24 Years of Email History

L<24 Years of Email History|https://web.archive.org/web/20201025141335/https://www.xink.io/email-history/xink-advent-calendar/>

=head2 Digital Wellbeing

L<Digital Wellbeing Advent Calendar|https://www.wholesome.design/advent-2018/>

=head2 Speaker Tips

L<Advent SPeaker Tips|https://be.noti.st/blog/category/advent-speaker-tips>

=head2 A Computer of One's Own

L<A Computer of One's Own|https://medium.com/a-computer-of-ones-own>

=cut
