
title      =  Advent Planet <TMPL_VAR NAME=YEAR>

year       = <TMPL_VAR NAME=YEAR>

tagline    =  Advent Calendar Planet

category   =  Advent Calendars

uri        = http://www.lenjaffe.com/AdventPlanet/<TMPL_VAR NAME=YEAR>/

editor     = Len Jaffe
 
share_dir   = share

