title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Raku

=head2 Raku Advent Calendar

L<Raku Advent|https://rakuadventcalendar.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 Perl

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl Dancer Advent Calendar

L<The Twelve Days of Dancer|https://advent.perldancer.org/2023>

#=head1 Ruby
#
#=head2 Qiita: Ruby
#
#L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby>
#
#=head2 Qiita: Ruby on Rails
#
#L<Qiita Ruby on Rails Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/rails>

=head1 Java

=head2 Java Advent

L<Java Advent:|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/>>

#=head2 Java Security Advent Calendar 
#L<Java Security Advent|https://www.ripstech.com/java-security-calendar-<TMPL_VAR NAME=YEAR>/>

#=head1 Amazon Web Services
#
#=head2 AWS Advent
#
#L<AWS Advent:|http://www.awsadvent.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 Miscellaneous

#=head2 24Ways Advent

#L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/>

#=head2 24 Accessibitly
#
#L<24 Days of digital accessibility gifts during the season of giving and sharing|https://www.24a11y.com/<TMPL_VAR NAME=YEAR>/>

=head2 Lean UXmas

L<Lean UXmas|https://<TMPL_VAR NAME=YEAR>.leanuxmas.com/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>>

=head2 QEMU Advent Calendar

L<QEMU Advent Calendar|http://www.qemu-advent-calendar.org/<TMPL_VAR NAME=YEAR>/> - An amazing QEMU disk image every day.


#=head2 Wordpress Snippets
#
#L<Wordpress Snippets til Christmas|https://advent.elliottrichmond.co.uk/>
#
#=head2 Ladies of Code
#
#L<Ladies of Code Advent|https://codecalendar.dev/<TMPL_VAR NAME=YEAR/>>

#=head2 Andrew Shitov's Blog: Advent Calendar
#
#L<Andrew Shitov's Blog|https://andrewshitov.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

#=head2 Plus Magazine (Math)
#
#L<Plus Magazine Advent|https://plus.maths.org/content/plus-advent-calendar-<TMPL_VAR NAME=YEAR>>
#
#=head2 Old English Advent
#
#L<The Dictionary of Old English|https://dictionaryofoldenglish.wordpress.com/advent-calendar/>
#
#=head2 Gravitational Wave Advent
#
#L<Gravitational Wave Advent|https://gravity.astro.cf.ac.uk/advent/>

=cut
