title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Raku

=head2 Raku Advent Calendar

L<Raku Advent|https://raku-advent.blog/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 Perl

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Weekly Challenge

1-24:L<Perl Weekly Challenge|https://theweeklychallenge.org/blog/advent-calendar-<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>/>

=head2 Perl Dancer Advent Calendar

13-24:L<The Twelve Days of Dancer|https://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY02>/>

=head1 JavaScript

=head2 AdventJS

L<AdventJS|https://adventjs.dev/challenges/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head2 Advent of JavaScript

L<Advent of JavaScript|https://www.adventofjs.com/>

=head1 Python

=head2 SCI Python Advent Calendar

L<Python Advent Calendar|https://scipython.com/apps/adventcalendar/>

=head1 Java

=head2 JVM Advent

L<JVM Advent|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/>>

=head1 Miscellaneous

=head2 Kotlin

L<Advent of Code in Kotlin|https://blog.jetbrains.com/kotlin/2024/11/advent-of-code-2024-in-kotlin/>

=head3 F#

L<F# Advent|https://sergeytihon.com/2024/10/26/f-advent-calendar-in-english-2024/>

=head2 SQL

L<Advent of SQL|https://adventofsql.com/>

=head2 TypeScript

L<Advent of TypeScript|https://www.adventofts.com/events/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 HTML

L<HTML Hell|https://www.htmhell.dev/adventcalendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>

=head2 Advent of Cyber 2024

L<Advent of Cyber|https://tryhackme.com/r/christmas>

=head2 Steam Games Advent Calendar

L<Steam|https://store.steampowered.com/app/2796390/Games_Advent_Calendar_2024/>

=head2 C#

L<C#|https://www.csadvent.christmas/>

=head2 Mathekalender

L<https://www.mathekalender.de/wp/calendar/>

=head2 Festive Tech Calendar

L<https://festivetechcalendar.com/>

=head2 24 Pull Requests

L<https://24pullrequests.com/>

=head2 Advent of Open Source

L<https://adventofopensource.com/>

=cut
