title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Raku

=head2 Raku Advent Calendar

L<Raku Advent Calendar|https://raku-advent.blog/<TMPL_VAR NAME=YEAR>/>


=head1 Perl

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 PDL (Perl Data Language) Advent Calendar

L<PDL (Perl Data Language) Advent Calendar|https://pdl.perl.org/advent/index.html>


=head1 Java

=head2 Java Advent

L<Java Advent:|http://www.javaadvent.com/calendar>


=head1 C#

=head2 C# Advent Calendar 2024

L<C# Advent Calendar 2024|https://csadvent.christmas/>


=head1 JavaScript

=head2 AdventJS

L<AdventJS|https://adventjs.dev/>

=head2 Advent of JavaScript

L<Advent of JavaScript|https://www.adventofjs.com/>


=head1 CSS

=head2 Advent of CSS

L<Advent of CSS|https://www.adventofcss.com/>

=head2 CSS Advent Calender

L<CSS Advent Calender|https://cssadventcalendar.dev/>


=head1 HTML

=head2 HTMHell Advent Calendar <TMPL_VAR NAME=YEAR>

L<HTMHell Advent Calendar|https://www.htmhell.dev/adventcalendar/>


=head1 TypeScript

=head2 Advent of TypeScript

L<Advent of TypeScript|https://www.adventofts.com/>


=head1 SQL

=head2 Advent of SQL

L<Advent of SQL|https://adventofsql.com/>


=head1 F#

=head2 F# Advent Calendar in English

L<F# Advent Calendar in English|https://sergeytihon.com/fsadvent/>

=head1 Kotlin

=head2 Solve Advent of Code <TMPL_VAR NAME=YEAR> Puzzles in Kotlin

L<Solve Advent of Code <TMPL_VAR NAME=YEAR> Puzzles in Kotlin|https://blog.jetbrains.com/kotlin/<TMPL_VAR NAME=YEAR>/11/advent-of-code-<TMPL_VAR NAME=YEAR>-in-kotlin/>


=head1 C

=head2 Advent(2) -- The System Call Advent Calendar

L<Advent(2) -- The System Call Advent Calendar|https://www.ibr.cs.tu-bs.de/users/dietrich/advent/index.html>


=head1 Miscellaneous

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>>

=head2 Everybody Codes

L<Everybody Codes|https://everybody.codes/home>

=head2 Advent of Cyber 2024

L<Advent of Cyber|https://tryhackme.com/r/christmas>

=head2 Bekk Christmas

L<Bekk Christmas|https://www.bekk.christmas/post/2024>

=head2 Festive Tech Calendar

L<Festive Tech Calendar|https://festivetechcalendar.com/>

=head2 MATH+ Advent Calendar

L<MATH+ Advent Calendar|https://www.mathekalender.de/wp/calendar/>

=head2 24 P[ULL] R[EQUEST]S - Giving Back to Open Source for the Holidays

L<24 P[ULL] R[EQUEST]S|https://24pullrequests.com/>

=head2 Kodekalender 2024 (Norwegian)

L<Kodekalender 2024|https://julekalender.knowit.no/>

=head2 Advent of Nocode

L<Playground to solve the Advent of Code challenges using visual scripting|https://luna-park.app/advent>

=head2 Advent of Open Source

L<Advent of Open Source|https://adventofopensource.com/>

=head2 Space Telescope Advent Calendar (The Atlantic)

L<Space Telescope Advent Calendar (The Atlantic)|https://www.theatlantic.com/photo/2024/12/2024-space-telescope-advent-calendar/680839/>

=head2 A(I)dvents calendar

L<A(I)dvents calendar|https://www.novalutions.de/en/aidventskalender/>

=cut
