title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@lenjaffe.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl Advent Calendar

L<Perl Advent|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Perl Weekly Challenge

1-24:L<Perl Weekly Challenge|https://theweeklychallenge.org/blog/advent-calendar-<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>/>

=head2 Perl Data Language

L<PDL Advent Calendar|https://pdl.perl.org/advent/>

=head2 Qiita Perl Advent Calendar

L<Qiita Perl Advent|https://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/perl>

=head1 Raku

=head2 Raku Advent Calendar

L<Raku Advent|https://raku-advent.blog/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head1 Python

=head2 SCI Python Advent Calendar

L<Python Advent Calendar|https://scipython.com/apps/adventcalendar/>

=head1 HTML and CSS

=head2 HTML

L<HTML Hell|https://www.htmhell.dev/adventcalendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head2 CSS

L<CSS Advent Calendar|https://cssadventcalendar.dev/>

L<Advent of CSS|https://www.adventofcss.com/>

=head1 JavaScript

=head2 AdventJS

L<AdventJS|https://adventjs.dev/challenges/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>/>

=head2 Advent of JavaScript

L<Advent of JavaScript|https://www.adventofjs.com/>

=head2 TypeScript

L<Advent of TypeScript|https://www.adventofts.com/events/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head1 Miscellaneous

=head2 Kotlin

L<Advent of Code in Kotlin|https://blog.jetbrains.com/kotlin/<TMPL_VAR NAME=YEAR>/11/advent-of-code-<TMPL_VAR NAME=YEAR>-in-kotlin/>

=head3 F#

L<F# Advent|https://sergeytihon.com/<TMPL_VAR NAME=YEAR>/10/26/f-advent-calendar-in-english-<TMPL_VAR NAME=YEAR>/>

=head2 SQL

L<Advent of SQL|https://adventofsql.com/>

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 Advent of Code

L<Advent of Code|http://adventofcode.com/<TMPL_VAR NAME=YEAR>/day/<TMPL_VAR NAME=DAY>>

=head2 Advent of Cyber

L<Advent of Cyber|https://tryhackme.com/r/christmas>

=head2 Steam Games Advent Calendar

L<Steam|https://store.steampowered.com/app/2796390/Games_Advent_Calendar_<TMPL_VAR NAME=YEAR>/>

=head2 C#

L<C#|https://www.csadvent.christmas/>

=head2 Mathekalender

L<Mathekalender|https://www.mathekalender.de/wp/calendar/>

=head2 Festive Tech Calendar

L<Festive Tech Calendar|https://festivetechcalendar.com/>

=head2 24 Pull Requests

L<24 Pull Requests|https://24pullrequests.com/>

=head2 Advent of Open Source

L<Advent of Open Source|https://adventofopensource.com/>

=head2 Unix/Linux

L<System Call Advent Calendar|https://www.ibr.cs.tu-bs.de/users/dietrich/advent/index.html>

=head2 Space Telescope Advent Calendar (The Atlantic)

L<Space Telescope Advent Calendar (The Atlantic)|https://www.theatlantic.com/photo/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-space-telescope-advent-calendar/680839/>

=head2 AI

L<A(I)dvents calendar|https://www.novalutions.de/en/aidventskalender/>

=cut
