title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@jaffesystems.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl Advent

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Catalyst Advent

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY02>>

=head2 Perl 6 Advent

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head2 Seoul.pm Perl Advent Calendar <TMPL_VAR NAME=YEAR>

L<Seoul.pm|http://advent.perl.kr/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Dancer Advent

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 Futures

L<Futures Advent|http://leonerds-code.blogspot.co.il/2013/12/futures-advent-day-<TMPL_VAR NAME=DAY>.html>

=head1 Miscellaneous

=head1 PHP

=head2 Cake Advent

L<Cake Advent|http://josediazgonzalez.com/tags/cakeadvent-<TMPL_VAR NAME=YEAR>/>/

=head2 Go

L<Go Advent|http://blog.gopheracademy.com/series/advent-<TMPL_VAR NAME=YEAR>/> 

=head2 Ruby

L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby> - This one can be hit or miss...

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators - uses slugs, not numbers - this is the home page.

=head2 Java

L<Java Advent:|http://www.javaadvent.com/<TMPL_VAR NAME=YEAR>/>

=head1 F#

=head2 Japanese F# Advent

L<Japanese F# Advent:|http://connpass.com/event/3935/>

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators - use> also a blogger.com-hosted site, so no simply addressable articles.

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/> >   also slugged

=head2 Performance Calendar

L<Performance Planet|https://calendar.perfplanet.com/<TMPL_VAR NAME=YEAR>/>

=head2 User Experience

L<UXMAS Advent|http://uxmas.com/<TMPL_VAR NAME=YEAR>>

=head2 WEBKRAUTS

L<WEBKRAUTS|http://webkrauts.de/serien/adventskalender/<TMPL_VAR NAME=YEAR>>

=head2 WordPress

L<WordPress Snippets|http://advent.squareonemd.co.uk/>

L<WordPress Developer Advent Calendar|http://themergency.com/wordpress-developer-advent-calendar/>

=head2 Mozilla Developer Network

L<MDN Holidays calendar|http://thewebrocks.com/mdncalendar<TMPL_VAR NAME=YEAR>/>

=head1 Interesting Things

=head2 Hubble Space Telescope Advent

L<Hubble Space Telescope Advent|http://www.theatlantic.com/infocus/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=YEAR>-hubble-space-telescope-advent-calendar/100863>

=head2 Plus Magazine (Math)

L<Plus Magazine Advent|http://plus.maths.org/content/<TMPL_VAR NAME=YEAR>-plus-advent-calendar> 

=head2 Science Advent

L<Galileo&apos;s Pendulum Science Advent|http://galileospendulum.org/tag/advent-<TMPL_VAR NAME=YEAR>/>

=head2 The Economist

L<Daily chart advent calendar|http://www.economist.com/content/<TMPL_VAR NAME=YEAR>-daily-chart-advent-calendar>

=head2 The Griddle: Puzzle Advent

L<The Griddle|https://thegriddle.net/tags/advent<TMPL_VAR NAME=YEAR>>

=cut
