title: <TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>
author: len jaffe <lenjaffe@jaffesystems.com>
topic:  Advent Planet

=head1 Perl

=head2 Perl Advent

L<Perl|http://perladvent.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Catalyst Advent

L<Catalyst|http://www.catalystframework.org/calendar/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY02>>

=head2 Perl 6 Advent

L<Perl 6|http://perl6advent.wordpress.com/<TMPL_VAR NAME=YEAR>/12/<TMPL_VAR NAME=DAY02>/>

=head2 Seoul.pm Perl Advent Calendar <TMPL_VAR NAME=YEAR>

L<Seoul.pm|http://advent.perl.kr/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=YEAR>-12-<TMPL_VAR NAME=DAY02>.html>

=head2 Dancer Advent

L<Dancer|http://advent.perldancer.org/<TMPL_VAR NAME=YEAR>/<TMPL_VAR NAME=DAY>>

=head2 Futures

L<Futures Advent|http://leonerds-code.blogspot.co.il/2013/12/futures-advent-day-<TMPL_VAR NAME=DAY>.html>

=head1 Not Perl

=head2 Go

L<Go Advent|http://blog.gopheracademy.com/> - The Gopher Academy Blog is presenting a Go advent, but alas, it to uses slugs instead
of computable names for its articles so here's a link to the home page

=head2 Ruby

L<Qiita Ruby Advent <TMPL_VAR NAME=YEAR>|http://qiita.com/advent-calendar/<TMPL_VAR NAME=YEAR>/ruby> - This one can be hit or miss...

=head2 PHP / WEBadvent

The PHP advent changed its name to
L<WEBadvent|http://webadvent.org/<TMPL_VAR NAME=YEAR>> -
like the PHPadvents before it, it uses slugs instead of day numbers. There does not appear to be an WEBadvent for <TMPL_VAR NAME=YEAR>.

=head2 SysAdvent

L<SysAdvent|http://sysadvent.blogspot.com> the Advent Calendar for System Administrators - uses slugs, not numbers - this is the home page.

=head2 Java

L<Java Advent:|http://www.javaadvent.com> also a blogger.com-hosted site, so no simply addressable articles.

=head2 24Ways Advent

L<24 Ways to impress your friends|http://24ways.org/<TMPL_VAR NAME=YEAR>/> >   also slugged
